body {
  font-family: "Droid Sans", Consolas, Arial, Helvetica;
}
body h1,
body h2,
body h3,
body h4,
body h5,
body h6 {
  font-family: Ubuntu, Calibri, Trebuchet, "Helvetica Neue";
}
.active {
  background-color: #F3F9F5;
  color: #fff;
}

.header-img {
  max-width: 300px;
  max-height: 100px;
}

.branding, .logo, .navbar{
  margin: 1em 0;
}